%li.active
  %a{:href => "#"}= t 'home'
%li
  - demourl = Iceberg::SETTING['local']['demourl'] || '#'
  %a{:href => demourl}= t 'demo'
%li
  %a{:href => 'https://github.com/ohac/iceberg'}= t 'source'
%li
  %a{:href => 'https://github.com/ohac/iceberg/wiki'}= t 'roadmap'
