%li.active
  %a{:href => "#"} Home
%li
  - demourl = Iceberg::SETTING['local']['demourl'] || '#'
  %a{:href => demourl} Demo
%li
  %a{:href => 'https://github.com/ohac/iceberg'} Source
%li
  %a{:href => 'https://github.com/ohac/iceberg/wiki'} Roadmap
