%html
  %body
    - params = "?digest=#{hexdigest}"
    - url = "#{name}#{params}"
    - dllink = "/download/#{url}"
    %audio{:controls => :controls}
      %source{:src => dllink, :type => 'audio/mp3'}
      Your browser does not support audio
