%html
  %head
    %title iceberg
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    %script{:type => 'text/javascript', :src => 'index.js'}
  %body
    %a{:href => '/upload'} Upload
