%html
  %head
    %title iceberg
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    %script{:type => 'text/javascript', :src => 'jquery-2.1.3.min.js'}
    %script{:type => 'text/javascript', :src => 'index.js'}
  %body
    %h1 Upload file (max 10 MiB)
    %form{:action => '/upload', :method => 'post',
        :enctype => 'multipart/form-data'}
      %label{:for => 'file1'} STEP 1: Choose File
      %br
      %input{:type => 'file', :name => 'file', :size => 30}
      %br
      %label STEP 2
      %br
      %input{:type => 'submit', :value => 'Upload'}
    %h1 Download file (max 100 files)
    - if uploaded
      - name = uploaded[:name]
      - digest = uploaded[:digest]
      - encdigest = uploaded[:encdigest]
      %input#name{:type => :hidden, :value => name}
      %input#digest{:type => :hidden, :value => digest}
      %input#encdigest{:type => :hidden, :value => encdigest}
    - recentfiles.each do |file|
      %a.files{:href => "/download/#{file}", :id => file}= file
      %br
    %h1 Meta data in your browser
    %textarea#metadata{:rows => 20, :cols => 120}
