%html
  %head
    %title iceberg
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    %script{:type => 'text/javascript', :src => 'jquery-2.1.3.min.js'}
    %script{:type => 'text/javascript', :src => 'index.js'}
  %body
    %a{:href => '/upload'} Upload
    %br
    - if uploaded
      - name = uploaded[:name]
      - digest = uploaded[:digest]
      - encdigest = uploaded[:encdigest]
    - recentfiles.each do |file|
      - params = ''
      - filename = file
      - if uploaded
        - if file == encdigest
          - filename = name
          - params = "?digest=#{digest}&filename=#{filename}"
      %a{:href => "/download/#{file}#{params}"}= filename
      %br
