%html
  %head
    %title Online Storage - Iceberg
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    %script{:type => 'text/javascript', :src => 'jquery-2.1.3.min.js'}
    %script{:type => 'text/javascript', :src => 'index.js'}
  %body
    %h1 Online Storage - Iceberg
    - if uploaded
      Uploaded
      - name = uploaded[:name]
      - digest = uploaded[:digest]
      - encdigest = uploaded[:encdigest]
      - tripcode = uploaded[:tripcode]
      %input#name{:type => :hidden, :value => name}
      %input#digest{:type => :hidden, :value => digest}
      %input#encdigest{:type => :hidden, :value => encdigest}
      - if tripcode
        %br
        Tripcode: #{tripcode}
    %h2 Upload (max 10 MiB)
    %form{:action => '/upload', :method => 'post',
        :enctype => 'multipart/form-data'}
      %label{:for => 'file1'} STEP 1: Choose File
      %br
      %input.bigbutton{:type => 'file', :name => 'file', :size => 30}
      %br
      %label STEP 2
      %br
      %input.bigbutton{:type => 'submit', :value => 'Upload'}
      %br
      %br
      %label Tripcode tag (Option)
      %br
      %input.bigbutton{:type => 'input', :name => 'tripkey'}
    %h2 Download (max 100 files)
    - recentfiles.each do |file|
      - filename = "encrypted-#{file[0, 8]}"
      %a.files{:href => "/download/#{file}", :id => file}= filename
      %br
    %h2 Tripcode tags
    - tripcodelist.each do |tripcode|
      %a.files{:href => "/tripcode/#{tripcode}"}= tripcode
      %br
    %h2 Meta data in your browser
    Backup below text data to other storage.
    %br
    You can share and edit this meta data.
    %br
    %textarea#metadata{:rows => 10, :cols => 40}
  %span#forkongithub
    %a{:href => 'https://github.com/ohac/iceberg'} Fork me on GitHub
