%html
  %head
    %title iceberg
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    %script{:type => 'text/javascript', :src => 'jquery-2.1.3.min.js'}
    %script{:type => 'text/javascript', :src => 'index.js'}
  %body
    %a{:href => '/upload'} Upload
    %br
    - recentfiles.each do |file|
      %a{:href => "/download/#{file}"}= file
      %br
